html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial,
    sans-serif;
}

.screen {
  display: flex;
  height: 100%;
}

.screen--center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
